<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- FIM GOOGLE FONTES -->
  <!-- BOOTSTRAP ICONS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- FIM BOOTSTRAP ICONS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='popup.css') }}">

  <script src="menu.js" defer></script>
</head>
<body>
  <div class="popup">
  <div class="popup-content">
     <!-- Ícone para fechar o pop-up -->
    <a href="{{ url_for('guia') }}" class="closePopup">
      <i class="bi bi-x-lg"></i>
    </a>
    <h1>Criar Perfil Personalizado</h1>
      <form method="post" action="{{ url_for('perfil') }}">
      <!-- Gêneros de Interesse (Múltipla Seleção) -->
      <h2>Gêneros de Interesse:</h2>
        <label>
            <select name="genero[]" multiple>
                <option value="" selected disabled>Selecione uma opção</option>
                <option value="acao">Ação</option>
                <option value="aventura">Aventura</option>
                <option value="comedia">Comédia</option>
                <option value="drama">Drama</option>
                <option value="ficcao">Ficção Científica</option>
                <option value="terror">Terror</option>
                <option value="romance">Romance</option>
                <option value="animacao">Animação</option>
                <option value="documentario">Documentário</option>
                <option value="outro">Outro</option>
            </select>
        </label><br>

        <h2>Classificação Indicativa:</h2>
        <label>
            <select name="classificacao">
                <option value="" selected disabled>Selecione uma opção</option>
                <option value="adulto">Adulto</option>
                <option value="criancas">Crianças</option>
            </select>
        </label><br>

        <h2>Avaliações:</h2>
        <label>
            <select name="avaliacao">
                <option value="" selected disabled>Selecione uma opção</option>
                <option value="acima_de_5">Acima de 5</option>
                <option value="abaixo_de_5">Abaixo de 5</option>
                <option value="todas">Todas</option>
            </select>
        </label><br>

        <input type="submit" value="Salvar Perfil">
    </form>
  </div>
  </div>
  <!-- Certifique-se de que o elemento script esteja no final do seu arquivo HTML, antes do fechamento da tag </body> -->
<script>
  // Função para fechar o pop-up
  function closePopup() {
    const popup = document.querySelector(".popup");
    popup.style.display = "none"; // Oculta o pop-up
  }

  // Adicione um evento de clique para o ícone de fechamento
  const closePopupButton = document.getElementById("closePopup");
  if (closePopupButton) {
    closePopupButton.addEventListener("click", function (e) {
      e.preventDefault(); // Impede que o link aja como um link padrão
      closePopup(); // Chame a função para fechar o pop-up
    });
  }
</script>

</body>
</html>