/* Estilos gerais para o formulário */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 400px;
    height: 600px;
    text-align: left;
}

/* Estilos para os rótulos (labels) */
h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/* Estilos para os campos de seleção */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

/* Estilos para o botão de enviar/salvar o perfil */
input[type="submit"] {
    background-color: #FBFF00;
    color: #000;
    padding: 30px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilos para os rótulos (labels) dos campos de seleção */
label {
    font-size: 16px;
    color: #333;
}

/* No arquivo "popup.css" */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: auto; /* Habilita a rolagem */
}

.popup button {
  display: block;
  margin-top: 10px;
}

/* No arquivo "popup.css" */
.popup-content {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center; /* Centralizar o conteúdo */
  display: flex;
  flex-direction: column; /* Definir a direção da coluna */
  align-items: center;
}

.popup-content select, .popup-content input[type="text"] {
  margin: 5px 0; /* Espaçamento entre os elementos */
}

.popup-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #FBFF00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para os campos de entrada de texto no perfil.html */
.popup-content input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* No arquivo "popup.css" */
.closePopup {
  position: relative;
  top: 0px;
  right: 0px;
  left: 200px;
  font-size: 24px;
  color: #ff0000; /* Cor do ícone de fechamento */
  text-decoration: none;
    }